<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
</head>
<body style="background-color: #333333">
<style type="text/css">
	table {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10%;
		margin-top: 10%;
	}

	tr {
		text-align: center;
		margin: auto;
		left: 0;
	}
</style>
<script>
	var urls = window.location.pathname.split("/")[2].split("&");
	var table = document.createElement("table");
	document.body.appendChild(table);

	urls.forEach(function (element) {
		var img = document.createElement("img");
		var tr = document.createElement("tr");
		img.src = "http://localhost:1337/pics/" + element;
		img.onload = function () {
			var canvas = document.createElement("canvas");
			canvas.width = img.width;
			canvas.height = img.height;
			canvas.getContext("2d").drawImage(img, 0, 0);
			tr.appendChild(canvas);
			table.appendChild(tr);
		}
	});
</script>
</body>
</html>